*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

header{
  display: flex;
  align-items: center;
  padding: 20;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: gray;
}

.menu-icon{
  width: 26px;
  height: 26px;
  margin: 6px 0;
  visibility: hidden;
}

/* --------------footer----------- */

footer{
  margin-top: 100px;
  background: black;
  font-size: 14px;
  color: gray;
  padding: 60px 0 20px;
  font-weight: lighter;
}

footer ul{
  list-style-type: none;
}

footer h3{
  color: white;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-col-1, .footer-col-2, .footer-col-3{
  min-width: 200px;
  margin-bottom: 20px;
  list-style-type: none;
}

.footer-col-1{
  flex-basis: 30%;
}

.footer-col-1 > h3{
  padding-left: 25px;
}

.footer-col-1 > img{
  display: block;
  cursor: pointer;
}

.footer-col-2{
  flex: 1;
  text-align: center;
}

.footer-col-2 > img{
  width: 200px;
  margin-bottom: 20px;
}

.footer-col-3{
  flex-basis: 30%;
  text-align: center;
}

.footer-col-3 > ul{
  padding-left: 100px;
}

.footer-col-3 > img{
  display: inline-block;
  cursor: pointer;
}

.info{
  text-align: center;
  margin-bottom: 40px;
}

.footer hr{
  height: 1px;
  margin: 20px 0;
}

/* -----------media query--------- */
@media only screen and (max-width: 800px){
  nav ul{
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background: #333;
      overflow: hidden;
      transition: max-height 0.5s;
  }
  nav ul li{
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  nav ul li a{
      color: white;
  }
  .menu-icon{
      display: block;
      cursor: pointer;
      visibility: visible;
  }
}

@media only screen and (max-width: 600px){
  .row{
      flex-direction: column;
      text-align: center;
  }
  .menu-icon{
      visibility: visible;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    flex-basis: 100%;
    text-align: center;
  }
  .col-2,.col-3,.col-4{
      flex-basis: 100%;
  }
  .footer-col-1 > h3,.footer-col-3 > h3{
      text-align: center;
      padding-left: 0;
  }
  .footer-col-1 > img{
      padding-right: 34px;
  }
  .footer-col-3 > img{
      display: flexbox;
      padding-right: 5px;
      padding: 0;
  }
  .cart-info p{
      display: none;
  }
}